<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">
  <title>My Game</title>
</head>
<body>


<header>
  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      height: 400px;
    "
  >
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-black">
          <h1 class="mb-3" style="font-size: 30; font-weight: bold">Herd Mentallity</h1>

          <div class="col d-flex justify-content-center">
            <div class="card">
              <div class="card-body ">
                <p class="card-text, text-white"> {{ card }}</p>
                </div>
            </div>
        </div>
        <div class="col text-center">
          <button class="button" type="button" onClick="window.location.reload();">Next Card</button>
        </div>


        <div class="d-flex" style="float: right">
          <button class="button boton_cambiar_pagina" type="button" onClick="window.location.href='/rules'";">Rules</button>
        </div>
      </div>
    </div>
  </div>
</header>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</div>

</body>
</html>